
body {
  font-family: 'GT Walsheim Pro', sans-serif;
  color: #fff
}

.Data-container {
  background: url('http://d17dednewomw88.cloudfront.net/assets/images/bootcamp/bars.svg');
  color: #77778F;
}

.Logo {
  max-width: 25rem;
}

.Topic-card {
  color: #77778F;
  font-size: 0.9rem;
}

.Topic-card .title {
  color: #000000;
  font-weight: bold;
  font-size: 1.3rem;
}

.Topic-card .title > .separator {
  color: #C4C4C4;
  border: 1px solid #E5EAF4;
  margin: 0 15px;
}

.blue-line {
  border-top: 2px solid blue;
  color: #C4C4C4;
  display: block;
  margin: 10px 0;
  width: 20px;
}

.Lesson-card {
  background: #FFFFFF;
  border: 1px solid #E5EAF4;
  font-weight: bold;
  min-height: 250px;
  text-transform: uppercase;
  min-width: 200px;
}

.Lesson-card img {
  max-width: 100px;
  margin: 0 auto;
}

.Lesson-card h1 {
  color: #0A0A36;
}

.Lesson-slides {
  color: #2E4FEB;
  text-decoration: underline;
  font-size: 0.9rem;
}

.Lesson-links{
  border-top: 1px solid #E5EAF4;
  color: #595959;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
}

.Lesson-links a{
  color: #2E4FEB;
  margin: 0 15px;
  text-decoration: underline;
}

.text-blue {
  color: #2e4feb;
}

.underline-bars {
  background-image: url(http://d17dednewomw88.cloudfront.net/assets/dist/fonts/underline.svg);
  background-size: cover;
  background-repeat: repeat-x;
}