ul > li {
  margin-left: 50px;
}

body {
  font-family: 'GT Walsheim Pro', sans-serif;
  color: #77778F;
  font-size: 1.3rem;
}

.Data-container {
  background: url('http://d17dednewomw88.cloudfront.net/assets/images/bootcamp/bars.svg');
}

.Topic-card .title {
  color: #000000;
  font-weight: bold;
}

.Topic-card .title > .separator {
  color: #C4C4C4;
  border: 1px solid #E5EAF4;
  margin: 0 15px;
}

.violet-line {
  border-top: 3px solid #A961FF;
  color: #C4C4C4;
  display: block;
  margin: 8px 0;
  width: 30px;
}

.Lesson-card {
  background: #FFFFFF;
  border: 1px solid #E5EAF4;
  font-weight: bold;
  min-height: 250px;
  text-transform: uppercase;
  min-width: 200px;
}

.Lesson-card img {
  max-width: 100px;
  margin: 0 auto;
}

.Lesson-card h1 {
  color: #0A0A36;
}

.link {
  color: #2E4FEB;
  text-decoration: underline;
}

.Lesson-links{
  border-top: 1px solid #E5EAF4;
  color: #595959;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

.Lesson-links a{
  color: #2E4FEB;
  margin: 0 15px;
  text-decoration: underline;
}

.text-blue {
  color: #1D1E5F;
}

.item {
  color: #1D1E5F;
  font-size: 1.6rem;
}

.underline-bars {
  background-image: url(http://d17dednewomw88.cloudfront.net/assets/dist/fonts/underline.svg);
  background-size: cover;
  background-repeat: repeat-x;
}