@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: #0A0A36;
  color: #fff
}

.Logo {
  max-width: 25rem;
}

.Topic-card {
  background: #EEEEEE;
  color: #f37981;
  font-weight: bold;
  text-transform: uppercase;
}

.Topic-card h1 {
  font-size: 2rem;
}

.Lesson-card {
  background: #EEEEEE;
  font-weight: bold;
  text-transform: uppercase;
}

.Lesson-card h1 {
  border-bottom: #595959 solid 2px;
  color: #0A0A36;
  font-size: 2rem;
}

.Lesson-card h2 {
  color: #f37981;
  font-size: 1rem;
  margin: 5px 0;
}

.Lesson-links{
  color: #595959;
  font-size: 0.5rem;
}

.Lesson-links hr{
  color: #595959;
  
}