body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "header header header"
    "content content content";
  grid-template-rows: 100px auto;
  grid-template-columns: 1fr 2fr 1fr;
}

header {
  background-color: yellowgreen;
  grid-area: header;
}

.card {
  background-color: yellow;
}

.card-main {
  background-color: orange;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-areas:
      "header"
      "content"
      "content";
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-columns: 1fr;
  }

  .container .card:last-child {
    display: none;
  }
}
